<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p> 
You can contact me in social networks :
  <a href="https://www.facebook.com/evgeniy.zp">facebook</a>
  <a href="https://vk.com/zheka_006">vk.com</a>
  or Skype: "zheka_006"
</p>